@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');


.text-font-b{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text-font-sb{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.text-font-r{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.text-font-l{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.navbar{
    height: 10vh;
    width: auto;
}

.logo-img{
    height: 50%;
    width: 50%;
}

.hero-banner{
    background: rgb(219,219,219);
    background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(196,196,196,1) 35%, rgba(215,215,215,1) 100%);
    width: 100%;
    height: 70vh;
    border-radius: 25px;
}

.hero-image{
    width: 75%;
    height: auto;
}

.hero-container{
    position: relative;
    left: 5%;
}

.hero-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-detail{
    position: absolute;
    bottom: -20%;
    transform: translateY(-50%);
}

.content{
    background: rgb(219,219,219);
    background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(196,196,196,1) 35%, rgba(215,215,215,1) 100%);
    position: relative;
}

.content-img{
    width: 250px;
    height: 250px;
}

.content-main{
    position: absolute;
    top: 0%;
    left: 0%;
}

.content-text{
    background-color: white;
    font-size: 1.5rem;
}

.content-price{
    padding: 5px 10px 0px 10px;
    background-color: white;
    font-size: 1.1rem;
}

.content-product{
    background-color: #7928ca;
    height: 90vh;
}

.base{
    background-color: white;
}

.a-half-top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.font-big{
    font-size: 2.2rem;
}

.font-semi-big{
    font-size: 1.5rem;
}

.btn{
    width: max-content;
    border-radius: 0;
}